body{
    position: relative;
    background-color: hsla(39, 44%, 54%, 0.718);
}

header{
    width: auto;
    height: auto;
    display: flex;
    padding: 3;
   background-color: #cef5ce;
   border: 8px;
   
   

}
.contenedor{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    justify-content: space-around;
}

.barranavegacion {
    font-size: 30px;
    padding: 10px;
    width: 80%;
    justify-content: space-between;
}




@media (max-width: 500px) {
    .barranavegacion { width: 50%;}
}


@media (width >= 500px) {
    .contenedor { width: 100%; background-color: rgb(204, 245, 204); padding: 30px;}
}

@media (img >= 500px) {
    /* .marcadeagua {;} */
}

a{
    text-decoration: none;
    justify-content: space-between;
    margin: 10%;
    color: black;

}

a:hover{
    text-decoration: none;
    justify-content: space-between;
    /* margin: 0%; */
    color: rgb(13, 61, 28);
}